// table
.table {
  width: 100%;
  max-width: 100%;
  border: 1px solid map-get($theme-colors, dark-blue);
  background-color: map-get($theme-colors, "white");
  border-collapse: collapse;
  text-align: center;

  // 表頭
  &-thead {
    background-color: map-get($theme-colors, dark-blue);
    color: map-get($theme-colors, "white");
    font-size: 1.125rem;

    &__th {
      padding: 16px 0;
      width: calc(100% / 6);

      &:not(:first-child) {
        border-left: 1px solid map-get($theme-colors, "white");
      }
    }
  }

  &-tbody {
    &__td {
      padding: 10px 10px;
      border-bottom: 1px solid map-get($theme-colors, dark-blue);
      border-left: 1px solid map-get($theme-colors, dark-blue);
      text-overflow: ellipsis;
      overflow: hidden;

      > p {
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }

      &:first-child {
        font-weight: bold;
        font-size: 1.125rem;
      }

      &__img {
        width: 100px;
      }

      // 按鈕
      &__button {
        cursor: pointer;
        border: 0;
        background-color: transparent;

        &:nth-of-type(2) {
          margin-left: 20px;
        }
      }
    }
  }
}
